[connection]
debug = True
host = localhost
port = 3306
user = user
password = password
database = edxapp

[sheets]
# progress = True

[google_service_account]
type = service_account
project_id = project_id
private_key_id = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
private_key = 
    -----BEGIN PRIVATE KEY-----
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
    ...
    -----END PRIVATE KEY-----
client_email = xxxx@yyyy.iam.gserviceaccount.com
client_id = 111111111111111111111
auth_uri = https://accounts.google.com/o/oauth2/auth
token_uri = https://oauth2.googleapis.com/token
auth_provider_x509_cert_url = https://www.googleapis.com/oauth2/v1/certs
client_x509_cert_url = https://www.googleapis.com/robot/v1/metadata/x509/xxxxxxxxxxxxxxx%40yyyyyyyyyyyyy.iam.gserviceaccount.com

[google_sheets]
organizations = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
course_runs = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
course_run_by_date = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
enrollments_year_of_birth = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
enrollments_gender = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
enrollments_level_of_education = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
enrollments_country = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
enrollments_employment_situation = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
users = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
distinct_users_by_day = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
distinct_users_by_month = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[xlsx]
file = nau_reports.xlsx
default_date_format = yyyy-mm-dd
export = organizations,course_runs,course_run_by_date,enrollments_with_profile_info,users,distinct_users_by_day,distinct_users_by_month,final_summary
